{:md5 "6df9ee64aa705b85b634e61668272ec0", :owner "thomas", :parent "c7011b4ca6bdc47b5aa3df58ff6fd4d9", :fields ({:field-name "Other Cash Flow In", :field-type "string"} {:field-name "SOURCE MD5", :field-type "string"} {:field-name "Fund Name", :field-type "string"} {:field-name "Gain/Loss", :field-type "string"} {:field-name "Other Cash Flow Out", :field-type "string"} {:field-name "Exchange In", :field-type "string"} {:field-name "Market Value 6/30/2019", :field-type "string"} {:field-name "Exchanges Out", :field-type "string"} {:field-name "Market Value 3/31/2018", :field-type "string"} {:field-name "Contributions", :field-type "string"})}